= render Table::BaseComponent.new(title: AddressCategory.model_name.human(count: 2)) do |table|
  - table.with_search link: :address_categories, title: 'Pesquisar', query: params[:q]
  - table.with_button link: [:new, :address_category], title: '+ Novo', options: { data: { turbo_frame: :drawer } }
  - table.with_header do |header|
    - header.with_row do |row|
      - row.with_col_h { AddressCategory.human_attribute_name(:name) }
      - row.with_col_h { AddressCategory.human_attribute_name(:created_at) }
      - row.with_col_h( options: { class: 'text-end', style: 'width: 80px' } ) { "Ações" }

  - table.with_body options: { id: :address_categories } do
    = render @records

  - table.with_pagination(pagination: @pagy)