.p-3.bg-light.h-100{:style => "width: 280px;"}
  %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none{:href => "/"}
    %svg.bi.me-2{:height => "32", :width => "40"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-4 Sidebar
  %hr/

  %ul.nav.nav-pills.flex-column.mb-auto
    %li.nav-item
      %a.nav-link.active{"aria-current" => "page", :href => "#"}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#home"}
        Home
    %li
      %a.nav-link.link-dark{:href => "#"}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#speedometer2"}
        Dashboard
    %li
      %a.nav-link.link-dark{:href => "#"}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#table"}
        Orders
    %li
      %a.nav-link.link-dark{:href => "#"}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#grid"}
        Products
    %li
      %a.nav-link.link-dark{:href => "#"}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#people-circle"}
        Customers
