%nav.navbar.navbar-expand-lg.bg-white.border-bottom.position-fixed.w-100
  .container-fluid
    %a.navbar-brand{:href => "#"} Audit

    .dropdown.dropstart
      %span.material-icons-outlined.fs-2{style: 'cursor: pointer;', 'data-bs-toggle': 'dropdown', 'arial-expanded': false}= 'account_circle'

      %ul.dropdown-menu.mt-4
        %li
          = link_to "Editar Conta", edit_user_registration_path, class: 'dropdown-item'
        %li
          %hr.dropdown-divider/
        %li
          = button_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item'
