// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.offcanvas-backdrop.show {
  opacity: .0;
}